---
interface Props {
  name: string;
  icon: string;
  link: string;
}

const { name, icon, link } = Astro.props;
---

<a href={link} class="block">
  <div class="bg-gruvbox-bg-dark p-6 rounded-lg hover:bg-gruvbox-bg transition duration-300 ease-in-out transform hover:scale-105">
    <img src={icon} alt={`${name} icon`} class="w-24 h-24 mx-auto mb-4" />
    <h2 class="text-2xl font-bold text-gruvbox-green text-center">{name}</h2>
  </div>
</a>